@media screen and (max-width: 428px) {
  .container{
    position: absolute;
    width: 428px;
    height: 925px;
    left: 0px;
    top: 1px;

    background: #F3F4F9;
  }
  .card{
    position: absolute;
    width: 389px;
    height: 546px;
    left: 24px;
    top: 194px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
    border-radius: 5px;
  }
  .logo{
    position: absolute;
    width: 76.06px;
    height: 43px;
    left: 160.74px;
    top: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    /* identical to box height */
  }
  .title{
    position: absolute;
    width: 264px;
    height: 28px;
    left: 68px;
    top: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  label{
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-transform: capitalize;
  }
  label.email{
    left: 13.55%;
    right: 53.97%;
    top: 20.77%;
    bottom: 58.64%;
  }
  label.password{
    left: 13.55%;
    right: 43.22%;
    top: 34.76%;
    bottom: 46.65%;
  }
  input{
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #D1DCDE;
    box-sizing: border-box;
    border-radius: 4px;
  }
  input.email-input{
    left: 13.55%;
    right: 11.92%;
    top: 26.12%;
    bottom: 66.84%;
  }
  input.password-input{
    left: 13.55%;
    right: 11.92%;
    top: 40.1%;
    bottom: 52.85%;
  }
  input[type=checkbox]{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 58px;
    top: 320px;

    background: #D4D7DA;
    border-radius: 3px;
  }

  .fp-section .remember p {
    position: absolute;
    left: 20.22%;
    right: 40.29%;
    top: 62.31%;
    bottom: 35.42%;

    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
  }
  .fp{
    position: absolute;
    left: 50.80%;
    right: 12.15%;
    top: 62.2%;
    bottom: 35.53%;


    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    text-align: right;
  }

  .signin{
    position: absolute;
    left: 13.08%;
    right: 12.15%;
    top: 86.63%;
    bottom: 4.32%;

    background: #6B51DF;
    border-radius: 4px;
  }
  .signin p{
    position: absolute;
    left: 35.75%;
    right: 32.24%;
    top: .25%;
    bottom: 34.16%;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
  }
  
}

